<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Menu</title>
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!--<link href="dashboard.css" rel="stylesheet">-->
    <link href="../css/layout.css" rel="stylesheet">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.js"></script>

</head>


<body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">网上控制台</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="admin">安全登出</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky nav">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active"  href="javascript:loadHTML('deleteWelcome');">
                            <span data-feather="home"></span>
                            所有菜品
                            <span class="text-normal"></span>
                        </a>
                        <ul>
                            <li>
                                <a href="javascript:;" onclick="loadHTML('deleteMeat')">
                                    <b class="sidebar-icon"></b>
                                    <span class="text-normal">荤菜</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" onclick="loadHTML('deleteVegetable')">
                                    <b class="sidebar-icon"></b>
                                    <span class="text-normal">素菜</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" onclick="loadHTML('deleteDrink')">
                                    <b class="sidebar-icon"></b>
                                    <span class="text-normal">饮料</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" onclick="loadHTML('deleteNoodle')">
                                    <b class="sidebar-icon"></b>
                                    <span class="text-normal">面食</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" onclick="loadHTML('deleteRice')">
                                    <b class="sidebar-icon"></b>
                                    <span class="text-normal">主食</span>
                                </a>
                            </li>
                        </ul>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:;" onclick="loadHTML('adminForm')">
                            <span data-feather="file"></span>
                            查询订单
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:;" onclick="loadHTML('addFood')">
                            <span data-feather="file"></span>
                            添加菜品
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:;" onclick="loadHTML('modifyFood')">
                            <span data-feather="file"></span>
                            修改菜品
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            </div>
            <div class="content" id="myContent" onloadstart="loadHTML('deleteWelcome')">

            </div>
        </main>

    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>

<script>

    $(document).ready(function(){
        $('#myContent').load("/menu/deleteWelcome");
    });

    function loadHTML(url) {
        $(function () {
            $.get(url, function (data) {
                $('#myContent').html(data);
            });
        })
    };

</script>
</body>
</html>